{% extends "user/base.html" %}
{% load static %}
{% block content %}


<!-- See http://www.firepad.io/docs/ for detailed embedding docs. -->


<html>

<head>
  <meta charset="utf-8" />
  <!-- Firebase -->
  <script src="https://www.gstatic.com/firebasejs/5.5.4/firebase.js"></script>

  <!-- CodeMirror -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/ace.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/mode-javascript.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/theme-textmate.js"></script>

  <!-- Firepad -->
  <link rel="stylesheet" href="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.css" />
  <script src="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.min.js"></script>

  <link rel="stylesheet" type="text/css" href="{% static 'editor.css' %}">
</head>

<body onload="init()">

  <div class="container-fluid h-100" >
    <div class="row">
      <ul class="actions fit">
        <li><a href="{% url 'save' %}"><button class="button primary fit small" id="save_btn">Save</button></a></li>
        <li><a href="{% url 'compile' %}"><button class="button primary fit small" id="compile_btn">Compile</button></a></li>
      </ul>
    </div>
    <div class="row justify-content-center h-100 text-left">


      <div class="col h-100" id="firepad-container"></div>

      <div class="col h-100">
        <iframe id="frame" src="{% static '' %}{{instance.author}}.pdf " width="100%" height="100%"></iframe>
      </div>

    </div>
  </div>


  <!-- <script type="text/javascript" src="{% static 'editor.js' %}"></script> -->
</body>

<script type="text/javascript">

  ace.require("ace/ext/language_tools");
  var editor = ace.edit("firepad-container");
  editor.setTheme("ace/theme/textmate");
  var session = editor.getSession();
  session.setUseWrapMode(true);
  session.setUseWorker(false);
  session.setMode("ace/mode/tex");
  editor.setOptions({
    enableBasicAutocompletion: true,
    enableSnippets: true,
    enableLiveAutocompletion: true
  });


  function init() {
    //// Initialize Firebase.
    //// TODO: replace with your Firebase project configuration.
    var config = {
    };
    firebase.initializeApp(config);

    //// Get Firebase Database reference.
    var firepadRef = getExampleRef();

    //// Create CodeMirror (with lineWrapping on).
    // ace.require("ace/ext/language_tools");
    // var editor = ace.edit("firepad-container");
    // editor.setTheme("ace/theme/textmate");
    // var session = editor.getSession();
    // session.setUseWrapMode(true);
    // session.setUseWorker(false);
    // session.setMode("ace/mode/tex");
    // editor.setOptions({
    //   enableBasicAutocompletion: true,
    //   enableSnippets: true,
    //   enableLiveAutocompletion: true
    // });

    //// Create Firepad (with rich text toolbar and shortcuts enabled).
    // var firepad = Firepad.fromCodeMirror(firepadRef, codeMirror,
    //     { richTextToolbar: true, richTextShortcuts: true });

    //// Initialize contents.


    var firepad = Firepad.fromACE(firepadRef, editor, {
      defaultText: "Start collaborating here"
    });


  }

  // Helper to get hash from end of URL or generate a random one.
  function getExampleRef() {
    var ref = firebase.database().ref();
    var hash = window.location.hash.replace(/#/g, '');
    if (hash) {
      ref = ref.child(hash);
    } else {
      ref = ref.push(); // generate unique location.
      window.location = window.location + '#' + ref.key; // add it as a hash to the URL.
    }
    if (typeof console !== 'undefined') {
      console.log('Firebase data: ', ref.toString());
    }
    return ref;
  }



  function saveContent(){
      var code =editor.getSession().getValue();
      var pk = {{instance.id}}
      var URL = "{% url 'save' %}";
      var data = {'code': code,
                  'id': pk};
      $.post(URL, data, function(response){
          if(response === 'success'){ alert('Yay!'); }
          else{ alert('Error! :('); }
      });
    }
      $(document).ready(function(){
      $('#save_btn').click(function(editor){
          editor.preventDefault();
          saveContent();
      });
  });



  function compile(){
      var URL = "{% url 'compile' %}";
      $.post(URL, function(response){
          if(response === 'success'){
              document.getElementById('frame').contentDocument.location.reload(true);}

          else{ alert('Error! :('); }
      });
    }
      $(document).ready(function(){
      $('#compile_btn').click(function(editor){
          editor.preventDefault();
          compile();
      });
  });


</script>
</html>



{% endblock %}
