{% extends 'user/base.html' %}
{% load static %}
{% block content %}
<style>
html, body {
  height: 100%;
  margin: 0;
}
</style>


<div class="container-fluid h-100" >

  <div class="row">
    <ul class="actions fit">
      {% if count %}
        <li><a href="{% url 'new_file' %}"><button class="button primary fit small" onclick="newFileName()">New</button></a></li>
        <li><a href="#"><button class="button primary fit small" id="delete_btn">Delete</button></a></li>
      {% elif not count %}
        <li><a href="{% url 'new_file' %}"><button class="button primary fit small" onclick="newFileName()">New</button></a></li>
        <li><a href="{% url 'save' %}"><button class="button primary fit small" onclick="saveContent()">Save</button></a></li>
      {% endif %}
    </ul>

  </div>
    {% if count %}
      <div class="row justify-content-center h-100 text-left">
        <div class="col justify-content-center w-100">
           {% for file in all_files %}
             <ul class="actions">
                  <li><a href="{% url 'detail' file.id %}" ><strong>{{ file.title }}</strong></a></li>
             </ul>
           {% endfor %}
        </div>
      </div>

    {% else %}
      <div class="row justify-content-center h-100 text-left">
          <div class="col-1.5"></div>
          <div class="col" id="editor">\documentclass{article}
\usepackage[utf8]{inputenc}

\title{Galaxy}
\date{October 2018}

\usepackage{natbib}
\usepackage{graphicx}

\begin{document}

\maketitle

\section{Introduction}
There is a theory which states that if ever anyone discovers exactly what the Universe is for and why it is here, it will instantly dbizarre and inexplicable.
There is another theory which states that this has already happened.
nikhil

\section{Conclusion}
``I always thought something was fundamentally wrong with the universe'' \citep{adams1995hitchhiker}

\bibliographystyle{plain}
\bibliography{references}
\end{document}

  </div>
          <div class="col">
            <iframe id="frame" src="{% static 'default.pdf' %}" width="100%" height="100%"></iframe>
          </div>
      </div>
    {% endif %}

</div>

<script type="text/javascript">

  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/textmate");
  var session = editor.getSession();
  session.setUseWrapMode(true);
  session.setUseWorker(false);
  session.setMode("ace/mode/tex");

  // ace.require("ace/ext/language_tools");
	//   var editor = ace.edit("editor");
  //     editor.setShowPrintMargin(false);
  //     editor.getSession().setMode("ace/mode/tex");
      // editor.setOptions({
      //   enableBasicAutocompletion: true,
      //   enableSnippets: true,
      //   enableLiveAutocompletion: true
      // });






function saveContent(){
    var code =editor.getSession().getValue();
    var file_name = prompt("Please enter the file name:");
    var URL = "{% url 'save' %}";
    var data = {'code': code,
                'name': file_name};
    $.post(URL, data, function(response){
        if(response === 'success'){ window.location.reload(); }
        else{ alert('Error! :('); }
    });
  }


function newFileName(){
    var file_name = prompt("Please enter the file name:");
    var URL = "{% url 'new_file' %}";
    var data = {'name': file_name};

    $.post(URL, data, function(response){
      if(response === 'success'){ window.location.reload(); }
      else{ alert('Error! :('); }
    });
  }


</script>
{% endblock %}
